.App {
  text-align: center;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 25vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg {
  z-index: 0;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.fg {
  z-index: 1;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.btn.btn-primary {
  background-color: #fff;
  background: #fff;
    color: #222;
    border-style: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2em;
    border-radius: 4px;
    font-size: small;
    padding-top: 1em;
    padding-right: 1.44em;
    padding-right: calc(1.44em - .2em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    margin-bottom: 2.5rem;
    font-style: italic;
}

.btn.btn-primary:hover {
  background-color: pink; /* Green */
  color: #222;
}

.cover-heading{
  margin-bottom: 2.5rem;
  display: inline-block;
  font-size: 66px;
}

.svg-mask {
  fill:white; 
}

.svg-mask:hover {
  fill:pink; 
}

.modal-content {
  background-color: transparent!important;
  background-blend-mode: lighten;
  border: none!important;

}
